
<<<<<<< HEAD
<%= form_for(role) do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div>
		<%= f.submit class: "btn btn-primary" %>
	</div>
=======

<%= form_for(role) do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.submit %>
</p>

>>>>>>> reaction-functionality
<% end %>